/* THE body ;) */
body{
    flex: 1;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Shared/general properties */
a:link {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

a:visited {
    color: #e5e7eb;
}

ul {
    list-style-type: none;
}

/* --- This is the navigation bar --- */
.nav-bar {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

#logo-title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    color: #e5e7eb;
}

#logo-header {
    width: 60px;
    height: 50px;
}

.header-list {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

/* Section - 1 */
.main-content {
    display: flex;
    background-color: #1f2937;
    margin:0;
    gap: 150px;
    padding: 50px 0px 130px;
    justify-content: center;
    align-content: center;
}

.left-content{
    flex-direction: column;
    padding-left: 50px;
    width: 30%;
}

#content-title {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.p-info {
    font-size: 18px;
    color: #e5e7eb;
}

#sign-up {
    padding: 9px 18px;
    font-size: 14px;
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    
}

.right-content {
    display: flex;
    align-self: center;
    border-radius: 10px;
    background-size: cover;
    padding-right: 50px;
}

#cathi {
    max-width:100%;
    width: 505px;
    height: 245px;
}

/* Section - 2*/
.ra-title {
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    justify-content: center;
    margin: 70px 0px 70px;
}

.card-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 180px;
    
}

.pics {
    object-fit: cover;
    height: 180px;
    width: 180px;
}

.crd-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Section - 3 */
.section-3 {
    display: flex;
    flex-direction: column;
    padding: 150px;
    background-color: #e5e7eb;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-self: center;
}

.big {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 60%;
}

.author {
    display: flex;
    align-self: flex-end;
    color: #1f2937;
    font-weight: 700;
}

/* Section - 4 */
.section-4 {
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 60px 200px 60px;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 30px 60px;
    gap: 100px;
}

.cta-big {
    color: #e5e7eb;
    font-weight: bold;
}

.cta-small {
    color: #e5e7eb;
}

.cta-button {
    border-style:solid;
    border-color: #f9faf8;
    border-radius: 8px;
    background-color: transparent;
    padding: 9px 35px;
    color: #e5e7eb;
    font-size: 15px;
    font-weight: bold;

}

/* Section - 5 */
.section-5 {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    margin: 0;
    padding: 20px;
}

.copyright {
    color: #e5e7eb;
}